script(src='/vendors/jquery-ui/jquery-ui.js')
script(src='/vendors/bootstrap/js/bootstrap.js')
script(src='/vendors/jquery-toggles/toggles.js')
script(src='/js/quirk.js')
script(src='/js/dashboard.js')