extends ../../layouts/default

block content
    .container
        .row
            .col-md-12
                .border-static
                    .faqtitle.text-center
                        h1 Favful FAQ
                        hr
                    .accordion
                        .faq-general
                            h3 
                                strong A) General
                            h3.accordion-toggle What is Favful?
                            .accordion-content
                                p 
                                    | Figuring out “what works” can be overwhelming and confusing at times. Favful is a&nbsp;
                                    strong beauty content commerce platform 
                                    | &nbsp;aiming to help users empower each other in smarter beauty purchases. Purchase beauty products with the help of genuine reviews, recommendations, video tutorials to handy tips. You can count on our community for all your beauty needs! 

                        .faq-community
                            h3
                                strong B) Community
                            
                            p Besides from benefiting from the tutorial and awesome products, joining Favful is a lot of fun. You get to interact and contribute your point of view with the passionate beauty community. Every contribution earn you points that are redeemable as cash rebate for your next purchase, or exclusive discounts from our partners’ services. 
                             
                            p The more contributions you provide, the more impact you make. We give our full support to people who make impact positively. Once we identify you as Favful Guru - we will provide you extra exposure to the community and brands, provide you extra resources for your content production, product sponsorship and sales commission, so that you can blossom into the best version of yourself. So go ahead and make more impact - show us you got what it takes! 
                            .faq-community.text-center
                                img.object-fit(src='../img/static/community.png')
                        .faq-community
                            h3 i) Member status: Opinions and reviews
                            h3.accordion-toggle How do I register?
                            .accordion-content
                                p Register for free with your Facebook account and you'll be part of the family! Once registered, you can interact within the community, review products, earn points and redeem rewards!
                            h3.accordion-toggle Can I review products that are not on the website?
                            .accordion-content
                                p If there are any products you wish to review or read up on that are not in Favful yet, you are more than welcome to email the product name and a website link to us at hello@stayfavful.com-question
                            h3.accordion-toggle Can I review products that I dislike?
                            .accordion-content
                                p Yes. Favful serves as a social sharing platform so we welcome all kinds of reviews as long as they are beneficial to users and do not include any offensive content. 
                            h3.accordion-toggle Are users paid to write reviews?
                            .accordion-content
                                p No. Favful acts as a platform for users to share opinions and get information they need for products they have keen interest on. We do not pay for any reviews written.
                            h3.accordion-toggle What language is allowed when writing a review?
                            .accordion-content
                                p English and local languages are all welcome.
                            h3.accordion-toggle Why did my review get rejected?
                            .accordion-content
                                p Your review could be rejected due to following reasons:
                                ul
                                    li Review doesn’t contain any photo or video.
                                    li Review content is too short and not detailed enough. E.g:
                                    ul       
                                        li Very nice. I like this.
                                        li It is good at brightening up my skin.
                                        li This is normal for me. Nothing special about it.
                                        li The packaging is nice but the product so-so.
                                    li Review content contains irrelevant / offensive / abusive / obscene / immoral words.
                                    li Review content is sourced from the item’s product description or official website.
                                    li Review content is copied or taken from official websites, blogs or any other sources. 
                                    li Duplicated content (same product, different content / different product, same content)
                                    li Image provided is not original; taken from the official website or copied elsewhere.
                                    li Overly focused on describing the product attributes instead of your personal experience.
                                    li We reserve the right to reject any reviews for any other reasons apart from those mentioned above.
                            h3.accordion-toggle Why are my points not reflected immediately?
                            .accordion-content
                                p Your submitted reviews are pending for review and will be reviewed within 24 hours. Your reviews must contain a photo or video, brief introduction of the product, your own evaluations and recommendations in order to get approval. Total points on your profile will be updated once your reviews are approved.
                        .faq-community-2
                            h3 ii) Beauty Guru Status: Tutorials and sponsorships
                            h3.accordion-toggle How do I become a Favful Guru?
                            .accordion-content
                                p We send out exclusive invites to member who are making positive impact in the community. The more contributions and the more you benefit others, you will get more chance to be featured as Favful Guru.
                            h3.accordion-toggle What do I get as a Favful Beauty Guru?
                            .accordion-content
                                ol
                                    li On top of getting more exposure to the community.
                                    li We also promote you to the partners and brands where you will get sponsorship opportunities. 
                                    li Whenever you require, we provide full resource support on your content production.
                            h3.accordion-toggle Do I need to pay to get the benefits?
                            .accordion-content
                                p We provide you exposure to community, brands and production support for free if you are Favful Beauty Guru.
                        .faq-title
                            h3 
                                strong C) Orders & Payment 
                            h3.accordion-toggle What are the payment methods available?
                            .accordion-content
                                p We currently support Paypal payment - the safer and easier way to pay online. 
                            h3.accordion-toggle What if I can’t make payment online?
                            .accordion-content
                                p You can choose "Manual Transfer" when you check out. Then, send an email to hello@stayfavful.com to inform regarding your successful payment. Payment details must provide and order ID.
                            h3.accordion-toggle Why didn’t I get the order confirmation email?
                            .accordion-content
                                p You can check your email account’s spam inbox in case it got directed there. If you are still unable to find an email from us, please email us again with your proof of order at hello@stayfavful.com.

                            h3.accordion-toggle I received the wrong/damage/defective item, what should I do?
                            .accordion-content    
                                p If the item you received is not what you originally ordered or your order was not received in its rightful condition, we are happy to exchange the items for you. Please notify us immediately at hello@stayfavful.com and we will assist you right away.
                                ul
                                    li Contact us within 48 hours upon receiving a damage/defective/incorrect item. 
                                    li Items must be entitled to 14 days return policy. So please make the returns within 14 days from date of purchase. 
                                    li Request will not be processed if you didn’t inform us before returning the item.
                            h3.accordion-toggle What can I expect after returning the item?
                            .accordion-content
                                p We’ll refund store credit to your Favful account as equivalent to the returned item amount that you paid.                        
                            h3.accordion-toggle What about postage charges?
                            .accordion-content
                                p Customers would have to bear the postage fees for shipping item(s) back to us during the return process.
                        .faq-title
                            h3 
                                strong D) Shipping & Delivery
                            h3.accordion-toggle When will I receive my order?
                            .accordion-content
                                p We do not represent our sellers’ courier solutions, the delivery time will depends on seller’s courier companies. You can find the respective delivery time of the sellers on your cart page. 
                            h3.accordion-toggle How do I add/change my shipping address?
                            .accordion-content
                                p You can change your shipping address in 1 hour time after you submitted your order, please email us at hello@stayfavful.com.  
                            h3.accordion-toggle I want to know where my order is?
                            .accordion-content
                                ul
                                    li You can contact us at hello@stayfavful.com with your order number.
                                    li You can track your order following these steps:
                                    ol
                                        li Once seller sent out the parcel, we send a delivery email with tracking code in it. 
                                        li Search on respective courier site with the tracking code provided.       
                            h3.accordion-toggle How will my shipping fee be charged?
                            .accordion-content
                                p Shipping fees are based on the seller of your selected items. If you have ordered from multiple sellers in one order, your shipping fee will be based on the selected shipping option of the parcel of each seller.
                            h3.accordion-toggle I ordered multiple items, but why did I receive only one email and one tracking number?
                            .accordion-content
                                p Your multiple items might come from different merchants/sellers. Thus, you will be receiving individual emails for different items depending on the current status of your item from respective merchants/sellers.

                            h3.accordion-toggle I ordered multiple items, but I only receive one item, where are my other items?
                            .accordion-content
                                p If you ordered from multiple sellers in one order then you will receive your order in separate parcels. Each delivery detail email will tell you the items you can expect to find inside. Please check the delivery detail email from each part of your order to make sure you are not missing anything.
                                p Please reach out to us at hello@stayfavful.com if you find some items missing in your parcel with your order number and the missing item's name. We will investigate the matter for you right away.
 

                        
                                

    script.
        $(document).ready(function() {
            $('.accordion').find('.accordion-toggle').click(function() {
                $(this).next().slideToggle(200);
                $(".accordion-content").not($(this).next()).slideUp(200);
            });
            $('.accordion-toggle').on('click', function() {
                $(this).toggleClass('active').siblings().removeClass('active');
            });
        });
            