extends ../../layouts/default

block content
    .container
        .row
            .col-md-12
                .about-us-title.text-center.lead
                    h1 STAND OUT FROM THE CROWD!
                    p CONTENT + AWARENESS + SALES
                    p 
                        b How to work with Favful:
                    
            .col-md-12
                .aboutustitle
                    .row
                        .col-md-6.text-center
                            .merchant-flex
                                img.object-fit(src='../img/static/about.png')
                                .button-register
                                    a(href='http://merchant.favful.com.my/register')
                                        .btn.btn-home-search REGISTER

