extends ../../layouts/default

block content
    .container(style='text-align:justify')
        .row
            .col-md-10.col-md-offset-1
                .border-static
                    h2.text-center Privacy Policy
                    br
                    p
                        | This is the privacy policy (“Privacy Policy”) of LOVELIFE TECHNOLOGIES SDN BHD (which includes all its subsidiaries, related and/or associated companies) (“Company”, “we”, “us”, or “our”). This Privacy Policy shall form an integral part of the contract between you and the Company upon your continuation of use of the Platforms (as defined below) and should be read together with our Terms of Use. Any capitalized terms if not expressly defined herein shall have the same meaning ascribed to them in the Terms of Use. ​
                    p
                        |To process, administer and/or manage your relationship with us, we will necessarily need to collect, use, disclose and/or process your personal data. This Privacy Policy applies to personal data about you and/or individuals provided by you, possessed by us or that we obtain about you, whether now or in the future. We will only process your personal data in accordance with the Personal Data Protection Act 2010, the applicable regulations, guidelines, orders made under the Personal Data Protection Act 2010 and any statutory amendments or re-enactments made of the Personal Data Protection Act 2010 from time to time (collectively referred to as the “PDPA”) as well as this Privacy Policy.​
                    p
                        | If you are a corporate entity/an organisation, references to the term “you” and “your” shall also include your directors, officers, employees, representatives and agents.​
                    p
                        | The PDPA requires us to inform you of your rights in respect of your personal data that is being processed or that is to be collected and further processed by us and the purposes for the data processing. The PDPA also requires us to obtain your consent to the processing of your personal data. In light of the PDPA, we are committed to protecting and safeguarding your personal data.​
                    p
                        | By providing your personal data to us and/or continuing access to our website and mobile applications (“Platforms”), you declare that you have read and understood this Privacy Policy and agree to us processing your personal data in accordance with the manner as set out in this Privacy Policy.
                    p
                        | We reserve the right to modify, update and/or amend this Privacy Policy from time to time. Please check the Platforms from time to time to see if there are amendments to this Privacy Policy. Any amendments to this Privacy Policy will be effective upon publication on the Platforms. By continuing to communicate with us, use our services, subscribe to our partnership services and/or access to the Platforms after being notified of any amendments to this Privacy Policy, you will be treated as having agreed to and accepted those amendments.​
                    p
                        | It is necessary for us to collect and process your personal data. If you do not provide us with your personal data, or do not consent to this Privacy Policy or any amendments to this Privacy Policy, we may not be able to render all services to you and you may be required to terminate your relevant agreement with us and/or stop accessing or using the Platforms. 

                    h3 Collection of Information
                    p 
                        | The term “personal data” means any information in our possession or control that relates directly or indirectly to an individual to the extent that the individual can be identified or are identifiable from that and other information in our possession such as name, address, telephone number, identity number, date of birth, email address, bank account details, credit card information etc. The types of personal data collected depend on the purpose of collection. We may “process” your personal data by way of collecting, recording, holding, storing, using and or disclosing it.​
                    p
                        | Your personal data may be collected from you during your course of dealings with us in any way or manner including pursuant to your registration of account at our Platforms, any transactions and/or communications made from/with us or shared with us through our dealings with our clients, business partners and affiliates. We may also collect your personal data from a variety of sources, including without limitation, at any meetings, events, seminars, conferences, talks and/or from publicly available sources.​

                    p
                        | In addition, we may also receive, store and process your personal data which are provided or made available by any third parties, credit reference bodies, regulatory and law enforcement authorities, for reasons including delivery of our products and/or services, performance of conditions of agreements and/or to comply with our legal and regulatory obligations.

                    h3 Purpose of acquiring and processing your personal data
                    p
                        | The personal data as provided/furnished by you to us or collected by us from you or through such other sources as may be necessary for the fulfilment of the purposes at the time it was sought or collected, may be processed for the following purposes (collectively referred to as the “Purposes”): 
                    ul
                        li to assess, process and provide products and services to you or our clients, business partners or affiliates; 
                        li to facilitate, process, deal with, administer, manage and/or maintain your relationship with us; 
                        li to consider and/or process your communication/application/transaction with us or our affiliated business partners; 
                        li to respond to your enquiries or complaints or resolve any issues and disputes which may arise in connection with any dealings with us; 
                        li to administer and process any payments related to products or services requested by you; 
                        li to facilitate your participation in, and our administration of, any events including meetings, promotions or campaigns; 
                        li to carry out due diligence or other monitoring or screening activities (including background checks) in accordance with legal or regulatory obligations or risk management procedures that may be required by law or that may have been put in place by us; 
                        li to provide you with information and/or updates on our products, services, upcoming promotions offered by us and/or events organized by us and selected third parties which may be of interest to you from time to time by SMS, phone call, email, fax, mail, social media and/or any other appropriate communication channels; 
                        li to send you seasonal greetings messages, gifts, newsletters from time to time; 
                        li to process and analyze your personal data either individually or collectively with other individuals; 
                        li to conduct market research or surveys, internal marketing analysis, customer profiling activities, analysis of customer patterns and choices, planning and statistical and trend analysis in relation to our products and/or services; 
                        li to share any of your personal data with the auditor for our internal audit and reporting purposes; 
                        li to share any of your personal data pursuant to any agreement or document which you have duly entered with us for purposes of seeking legal and/or financial advice and/or for purposes of commencing legal action; 
                        li to share any of your personal data with a third party necessary for the preparation of legal documents or contract to be entered by you; 
                        li to share any of your personal data with our business partners to jointly develop products and/or services; 
                        li to share any of your personal data with financial institutions or investment firms necessary for the purpose of applying and obtaining loan or credit facility(ies) or investment fund respectively, if necessary; 
                        li to communicate with you and to maintain and improve business and customer relationship; 
                        li to detect, investigate and prevent any fraudulent, prohibited or illegal activity or omission or misconduct; 
                        li to enable us to perform our obligations and enforce our rights under any agreements or documents that we are a party to; 
                        li to transfer or assign our rights, interests and obligations under any agreements entered into with us; 
                        li to meet any applicable legal or regulatory requirements and making disclosure under the requirements of any applicable law, regulation, direction, court order, by-law, guideline, circular or code applicable to us; 
                        li to comply with or as required by any request or direction of any governmental authority; or responding to requests for information from public agencies, ministries, statutory bodies or other similar authorities; 
                        li to enforce or defend our rights and your rights under, and to comply with, our obligations under the applicable laws, legislation and regulations; 
                        li for internal administrative purposes; 
                        li for audit, risk management and security purposes; 
                        li for registration for a user account with us; 
                        li for our storage, hosting back-up (whether for disaster recovery or otherwise) of your personal data,  whether within or outside Malaysia; and/or 
                        li for other purposes required to operate, maintain and better manage our business and your relationship with us, 
                    p
                        | and you agree and consent to us using and processing your personal data for the Purposes in the manner as identified in this Privacy Policy. If you do not consent to us processing your personal data for one or more of the Purposes, please notify us at the contact details below. 
                    P
                        | We may also use and process your personal data for the following marketing and promotional purposes (“Marketing and Promotional Purposes”):

                    ul 
                        li to send you information, alerts, newsletters, updates, promotional materials, special privileges announcements on products, services, upcoming events, activities, promotions, campaigns, or surveys offered/organized by us and/or our selected third parties (business/marketing partners, sponsors, advertisers) which may be of interest to you; and 
                        li to share your personal data within our organization and our selected third parties (business/marketing partners, sponsors, advertisers) who may communicate with you to market their products, services, events or promotions, from time to time by SMS, phone call, email, fax, mail, social media and/or any other appropriate communication channels. You have the right at any time to request us to stop sending you any marketing and promotional materials or contacting you for Marketing and Promotional Purposes. You may also click on the “Unsubscribe” link embedded in the relevant marketing and promotional email in order not to receive any marketing and promotional email in the future. If you unsubscribe, we may still send you non-marketing and promotional communications, such as those about your Account, about the Platforms and/or Services or our ongoing business relations.​
                    p
                        | We will seek your separate consent for any other purposes which do not fall within the categories stated above.
                    p
                        | We may also be collecting from sources other than yourself, personal data about you, for one or more of the above Purposes, and thereafter using, disclosing and/or processing such personal data for one or more of the above Purposes.

                    h3 Consequences of not consenting to this privacy and policy 
                    p
                        | The collection of your personal data by us may be mandatory or voluntary in nature depending on the Purposes for which your personal data is collected. Where it is mandatory for you to provide us with your personal data, and you fail or choose not to provide us with such data, or do not consent to the above or this Privacy Policy, we will not be able to provide our products and/or services or otherwise deal with you, if at all.

                    h3 Disclosure of Personal Information
                    p
                        | We will not sell, rent, transfer or disclose any of your personal data to any third party without your consent. However, we may disclose your personal data to the following third parties, for one or more of the above Purposes:
                    ul
                        li the Company’s group of companies including the Company’s subsidiaries, related and/or associated companies;
                        li your immediate family members and/or emergency contact person as may be notified to us from time to time;
                        li successors in title to us;
                        li any person under a duty of confidentiality to which has undertaken to keep your personal data confidential which we have engaged to discharge our obligations to you;
                        li any party in relation to legal proceedings or prospective legal proceedings;
                        li our auditors, consultants, lawyers, accountants or other financial or professional advisers appointed in connection with our business on a strictly confidential basis, appointed by us to provide services to us;
                        li any party nominated or appointed by us either solely or jointly with other service providers, for purpose of establishing and maintaining a common database where we have a legitimate common interest;
                        li data centres and/or servers located within or outside Malaysia for data storage purposes;
                        li storage facility and records management service providers;
                        li payment channels including but not limited to banks and financial institutions for purpose of assessing, verifying, effectuating and facilitating payment of any amount due to us in connection with your procurement of our products and/or services;
                        li government agencies, law enforcement agencies, courts, tribunals, regulatory/professional bodies, industry regulators, ministries, and/or statutory agencies or bodies, offices or municipality in any jurisdiction, if required or authorised to do so, to satisfy any applicable law, regulation, order or judgment of a court or tribunal or queries from the relevant authorities;
                        li our business partners, third party product and/or service providers, suppliers, vendors, distributors, contractors or agents, on a need to know basis, that provide related products and/or services in connection with our business, or discharge or perform one or more of the above Purposes and other purposes required to operate and maintain our business;
                        li our employees, on a need to know basis;
                        li financial institutions or investment firms for the purpose of applying and obtaining loan or credit facility(ies) or investment fund, if necessary;
                        li financial institutions, merchants and credit card organisations in connection with your commercial transactions with us;
                        li the general public when you become a winner in a contest, participate in our events, conferences, talks and seminars by publishing your name, photographs and other personal data without compensation for advertising and publicity purposes;
                        li any third party (and its advisers/representatives) in connection with any proposed or actual reorganization, merger, sale, consolidation, acquisition, joint venture, assignment, transfer, funding exercise or asset sale relating to any portion of the Company; and/or
                        li any other person reasonably requiring the same in order for us to operate and maintain our business or carry out the activities set out in the Purposes or as instructed by you.
                        
                    h3 Accuracy of your personal data
                    p    
                        | We take it that all personal data provided by you is accurate and complete, and that none of it is misleading or out of date. You will promptly update us in the event of any change to your personal data.
                    h3 Your rights
                    p
                        | To the extent that the applicable law allows, you have the right to request for access to, request for a copy of, request to update or correct, your personal data held by us. We may charge a small fee (such amount as permitted by the PDPA) to cover the administration costs involved in processing your request to access your personal data. Notwithstanding the foregoing, we reserve our rights to rely on any statutory exemptions and/or exceptions to collect, use and disclose your personal data.
                    p
                        | You have the right at any time to request us to limit the processing and use of your personal data (for example, requesting us to stop sending you any marketing and promotional materials or contacting you for marketing purposes).
                    p
                        | In addition, you also have the right, by notice in writing, to inform us on your withdrawal (in full or in part) of your consent given previously to us subject to any applicable legal restrictions, contractual conditions and a reasonable duration of time for the withdrawal of consent to be effected. However, your withdrawal of consent could result in certain legal consequences arising from such withdrawal. In this regard, depending on the extent of your withdrawal of consent for us to process your personal data, it may mean that we will not be able to continue with your existing relationship with us or the contract that you have with us will have to be terminated.

                    h3 Retention of your personal data
                    p
                        | Any of your personal data provided to us is retained for as long as the purposes for which the personal data was collected continues; your personal data is then destroyed or anonymised from our records and system in accordance with our retention policy in the event your personal data is no longer required for the said purposes unless its further retention is required to satisfy a longer retention period to meet our operational, legal, regulatory, tax or accounting requirements.

                    h3 Security of your personal data
                    p
                        | We are committed to ensuring that your personal data is stored securely. In order to prevent unauthorised access, disclosure or other similar risks, we endeavour, where practicable, to implement appropriate technical, physical, electronic and procedural security measures in accordance with the applicable laws and regulations and industry standard to safeguard against and prevent the unauthorised or unlawful processing of your personal data, and the destruction of, or accidental loss, damage to, alteration of, unauthorised disclosure of or access to your personal data.
                    p
                        | We will make reasonable updates to its security measures from time to time and ensure the authorised third parties only use your personal data for the Purposes set out in this Privacy Policy.
                    P
                        | The Internet is not a secure medium. However, we will put in place various security procedures with regard to the Platforms and your electronic communications with us. All our employees and data processors, who have access to, and are associated with the processing of your personal data, are obliged to respect the confidentiality of your personal data.
                    p
                        | Please be aware that communications over the Internet, such as emails are not secure unless they have been encrypted. Your communications may be routed through a number of countries before being delivered – this is the nature of the World Wide Web/Internet.
                    p
                        | We cannot and do not accept responsibility for any unauthorised access or interception or loss of personal data that is beyond our reasonable control.

                    h3 Personal data from minors and other individuals
                    p
                        | To the extent that you have provided (or will provide) personal data about your family members, spouse, other dependents (if you are an individual), directors, shareholders, employees, representatives, agents (if you are a corporate entity/an organisation) and/or other individuals, you confirm that you have explained (or will explain) to them that their personal data will be provided to, and processed by, us and you represent and warrant that you have obtained their consent to the processing (including disclosure and transfer) of their personal data in accordance with this Privacy Policy.
                    p
                        | In respect of minors (i.e. individuals under 18 years of age) or individuals not legally competent to give consent, you confirm that you are the parent or guardian or person who has parental responsibility over them or the person appointed by court to manage their affairs or that they have appointed you to act for them, to consent on their behalf to the processing (including disclosure and transfer) of their personal data in accordance with this Privacy Policy.
                    
                    h3 Transfer of your personal data outside of Malaysia
                    p
                        | Our information technology storage facilities and servers may be located in other jurisdictions outside of Malaysia. This may include, but not limited to, instances where your personal data may be stored on servers located outside of Malaysia.  In addition, your personal data may be disclosed or transferred to entities located outside of Malaysia (including that of our clients, business partners and affiliates) or where you access the Platforms from countries outside Malaysia. Please note that these foreign entities may be established in countries that might not offer a level of data protection that is equivalent to that offered in Malaysia. You hereby expressly consent to us transferring your personal data outside of Malaysia for such purposes. We shall endeavour to ensure that reasonable steps are taken to procure that all such third parties outside of Malaysia shall not use your personal data other than for that part of the Purposes and to adequately protect the confidentiality and privacy of your personal data.

                    h3 Platforms
                    ul
                        li You acknowledge that the provision of your personal data to us over the Internet is entirely at your own risk.
                        li If any part of the Platforms links you to other websites, those websites do not operate under this Privacy Policy and we do not accept any responsibility or liability arising from those websites. We suggest you to read and understand those websites’ privacy policy before you provide your personal data to those websites.
                        li We use cookies (an alphanumeric identifier that we transfer to your computer’s or mobile device’s hard drive so that we can recognize your web browser or mobile device, track your visits to the Platforms or remember your username and/or password each time you log in) to monitor your use of the Platforms. All such demographic data collected through cookies are not personal data and we may use this data in aggregated, statistical and/or anonymized form. You may disable cookies by changing the settings on your web browser or mobile device, although this may mean that certain features on the Platform will not function properly if you set your web browser or mobile device to not accept cookies.
                        li The Platforms may integrate with social sharing features and other related tools which allow you to share information with your friends or the public, depending on the settings you establish with the social sharing network. The social sharing network’s use of your personal data made available by the Company is governed by that social sharing network’s privacy policy, not by this Privacy Policy. By connecting your social sharing network account through the Platforms, you agree that we may collect your personal data from your social sharing network account only in accordance with your privacy settings you have set up under your social sharing network account and for the Purposes provided under this Privacy Policy.
                        li We may automatically receive, record and store location services information from your computer or mobile device when you interact with us. You hereby consent to our use of anonymized location services information collected from you. Where the location services information is personally identifiable, we will give you the options to manage your disclosure of this information. Depending on the functionalities available on your computer or mobile device, you may benefit from advanced options to manage the location services information. A computer or mobile device may report its GPS location at the time you interact with us if the location services settings are enabled. Such information is not identified as personal data, except where we are required to do otherwise under applicable law.
                        li Our collection of your computer or mobile device location information is solely at your discretion. You can enable or disable location services when you use the Platforms at any time, through your computer or mobile device settings. Should you use the Platforms with location services enabled, you consent to our collection and dissemination of your computer or mobile device location information through the Platforms, as specified in this Privacy Policy. Under no circumstances shall we be liable for claims or for any damages therefrom, arising out of your informed decision to allow other users to see your computer or mobile device location information, as specified in this Privacy Policy.  
                    h3 Contact Details
                    p
                        | If you have any questions about this Privacy Policy, or have any further queries, or would like to make a complaint or data access or correction request in respect of your personal data, you may contact us at hello@favful.com
                    br
                    p.text-center.small This privacy policy was last updated on 8 June 2017.