extends ../../layouts/default

block content
    .container(style='text-align:justify')
        .row
            .col-md-10.col-md-offset-1
                .border-static
                    h2.text-center Terms and Conditions
                    br
                    p This General Terms and Conditions (“T&C”) set out the terms and conditions governing your engagement with Lovelife Technologies Sdn Bhd (“Favful”, or “we”). By indicating your acceptance of these T&C, you agree to participate in Favful Creator Community as a creator and be legally bound by these T&C.

                    p.small
                        ol
                            li
                                b Definition
                                br
                                | “Agreement” means all provisions contained in this T&C and/or any other written agreement with similar expression.
                                | “Content” means any editorial content, image, video or other digital form of content produced by you as a Favful creator.
                            br
                            li
                                b(style='text-decoration: underline') Term
                                | &nbsp;-&nbsp;
                                | These T&C shall constitute a legal agreement between you and Favful with effect from the date of your acceptance hereof and continue to be in full force and effect until termination in accordance with Clause 6 herein.
                            br
                            li
                                b(style='text-decoration: underline') Commitment
                                | &nbsp;-&nbsp;
                                | During the Term, you may undertake to produce the Content on a voluntary basis or upon the request of Favful. In the production of the Content and the performance of your obligations herein, you agree to:
                            ol(type='a')
                                li perform your services conscientiously to the full limit of your technical, artistic and creative skills as, where and in willing co-operation with such persons as we may require and shall promptly and faithfully comply with all of our directions, requests, rules and regulations;
                                li uphold the reputation of Favful and its business and act in the best interest of Favful;
                                li maintain an acceptable standard of attire, etiquette and professional attitude and conduct for purposes of performing your obligations herein;
                                li maintain that the Content be original work produced, created or curated by you and has not been previously published or contracted to be published on any website, forum, chat or social media site;
                                li ensure that the Content does not include or support libellous, defamatory, knowingly false content, excessive profanity, violence or racial intolerance, illicit drugs or drug paraphernalia, pornography, adult or mature content, or any other content that promotes intolerance, illegal activity or infringes upon the legal rights of others, including but not limited to any third party copyright, trademark, trade secret or patent;
                                li acquire all necessary permissions for use of any third party’s images or video in your Content;
                                li ensure that no third party links or advertisement should be placed within the Content unless expressly specified or permitted by Favful; and
                                li not without our prior written consent make to any third party any statement or supply to any third party any information, photograph or any content relating to the Content or to the terms of or to your engagement under this Agreement or to the affairs of the person commissioning the Content to be produced.
                            br
                            li
                                b(style='text-decoration: underline') Intellectual Property Rights
                            ol(type='a')
                                li You hereby grant to Favful an unlimited, exclusive, royalty-free, transferrable, sublicensable and irrevocable licence to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, transmit, display and perform the results and proceeds of the Content, in whole or in part, whether now known or hereafter discovered, and in the manner including, but not limited to, all promotional advertising, marketing, publicity and commercial uses and ancillary uses, without any further notice or payment to, or permission needed from you (to the extent permitted by law).
                                li You agree that we have the unlimited right to edit, copy, alter, add to, take from, adapt and/or translate the Content and, with regard to the Content, irrevocably waive the benefits of any provision of law known as “moral rights” or any similar laws of any jurisdiction.
                                li Provided that we have notified any relevant third parties of the provisions of this clause, no inadvertent failure by us to comply with the provisions of this clause and no failure of such third parties to accord you credit in accordance with this clause shall constitute a breach of this Agreement by us and in no event shall you be entitled by virtue of such failure to enjoin or restrain the distribution or exhibition of or advertising or publicity for the Installation and the Project.
                                li Notwithstanding any provision hereunder, this Clause 4 shall survive the expiry or termination of this Agreement.
                                li In the event that you are required to produce any Content by incorporating Favful’s trademark, logo, tradename or any other intellectual property of Favful, you agree that any license to use Favful’s intellectual property shall be a limited, non-exclusive licence and the said license shall terminate automatically upon termination of this Agreement
                            br
                            li
                                b(style='text-decoration: underline') Warranties
                                | &nbsp;-&nbsp;
                                | You warrant, represent and undertake to us that:
                            ol(type='a')
                                li you are free to enter into and to perform this Agreement and have not entered and will not enter into any professional or other commitment which would or might conflict with the full rendering of your services under this Agreement;
                                li the Content will be wholly original and the Content will not infringe the copyright or any other rights of any third party;
                                li the Content will not (whether by way of inflection or otherwise) contain any defamatory matter or breach of any contract or duty of confidence; and
                                li you will indemnify and keep us fully and effectively indemnified against all damage, including all costs, of whatsoever kind or nature arising from any breach or non-performance or threatened breach or non-performance of any of the warranties, representations, undertakings or obligations on your part contained in this Agreement.
                            br
                            li
                                b(style='text-decoration: underline') Termination
                                | &nbsp;-&nbsp;
                                | We may terminate this Agreement by giving a written notice to you without assigning any reason whatsoever. This Agreement shall be deemed terminated from the date of the written notice. If: (i) you have not otherwise performed or complied with any of the terms of this Agreement; or (ii) you become insolvent, file a petition for bankruptcy or commences or have commenced proceedings relating to bankruptcy, receivership, reorganisation or assignment for benefit of creditors, we may terminate this Agreement by giving a written notice to you notifying you of the occurrence of an event of default. If you fail to remedy the default within three (3) days from the date of the notice, we shall be entitled to terminate this Agreement with immediate effect. Notwithstanding the termination of this Agreement, you agree that we will remain entitled to all rights granted or assigned to us under this Agreement.
                            br
                            li
                                b(style='text-decoration: underline') No Partnership, Agency, Joint Venture
                                | &nbsp;-&nbsp;
                                | No agency, partnership, joint venture or employer-employee relationship is created or intended to be created by this Agreement. Neither party shall have the power to bind the other or incur obligations on the other’s behalf without the other party’s prior written consent.
                            br
                            li
                                b(style='text-decoration: underline') Binding Effect
                                | &nbsp;-&nbsp;
                                | The Agreement shall be binding upon and enure for the benefit of the respective heirs, personal representatives, successors-in-title or permitted assigns, as the case may be, of the parties.
                            br
                            li
                                b(style='text-decoration: underline') Assignment
                                | &nbsp;-&nbsp;
                                | You shall not assign any of your rights or delegate any of your obligations under this Agreement without the prior written consent of Favful.
                            br
                            li
                                b(style='text-decoration: underline') Entire Agreement
                                | &nbsp;-&nbsp;
                                | This Agreement comprise the entire agreement between the parties and shall supersede all prior or contemporaneous understandings, agreements, negotiations, representations and warranties, and communications, both written and oral.
                            br
                            li
                                b(style='text-decoration: underline') Governing Law
                                | &nbsp;-&nbsp;
                                | This Agreement shall be governed by and construed in accordance with the laws of Malaysia and the parties submit to the exclusive jurisdiction of the courts of Malaysia.


                    br
                    p.text-center.small This Terms and Conditions was last updated on 12 June 2017.