extends ../../layouts/default

block content
    .container(style='text-align:justify')
        .row
            .col-md-10.col-md-offset-1
                .border-static
                    h2.text-center Terms of Use
                    br
                    p Welcome to Favful, a social beauty network application for desktop and mobile devices (the “Platform”) designed as a platform to provide information on the latest prestige beauty products, provided by Lovelife Technologies Sdn Bhd (1160262-H). These terms of use, including the Sales Terms and Conditions and the Privacy Policy (“Terms of Use”) govern your access to and use of the Platform, whether as a guest or a registered user, and provide you with an understanding on the Platform for a safe and pleasurable visit.

                    p By visiting, browsing, adding information or creating an account at this Platform, you are deemed to have accepted these Terms of Use in full with effect from the date you first use this Platform. If you do not agree to these terms, please immediately discontinue use of the Platform. We reserve the right to change these Terms of Use from time to time in our sole and absolute discretion without notice. Such changes will become effective and binding immediately upon posting to this Platform and you will be deemed to have accepted such changes by your continued use of this Platform.

                    p
                        b Privacy:&nbsp;
                        | We respect and are committed to protect your privacy. Please refer to our&nbsp;
                        a(href='/privacy-policy') Privacy Policy
                        | ,&nbsp;which forms part of these Terms of Use.

                    p
                        b Use of app:&nbsp;
                        | You represent and agree that you are will not use this Platform, nor allow anyone to use this Platform, (a) contrary to Favful’s reputation, public image, or goodwill, (b) in violation of any law, regulation, ordinance or court order, (c) in any manner that could damage, disable, overburden or otherwise impair the ability of Favful to make this Platform available to other users or to interfere with the use and enjoyment of this Platform by other users, (d) to create, copy, upload, download, store, publish, distribute, broadcast, transmit or otherwise disseminate any content, information or communication that (i) infringes, misappropriates or otherwise violates any third party patent, copyright, trademark, trade secret, right of privacy, right of publicity, moral rights or any other intellectual property right, or (ii) may be deemed libelous or slanderous, (e) to harass, intimidate, threaten or encourage any violence against any person, group or organization, (f) to transmit or otherwise disseminate any spam e-mails, viruses, corrupted files, spyware, malware, or any other software or code that may damage or impair the operation or security of any computer, hardware, software, system or service, (g) to gain or attempt to gain unauthorized access to any computer, hardware, software, system, service, account, communication or information of Favful, any other users or any third party, or (h) to engage in any conduct that could expose Favful to civil or criminal liability or (i) to engage in any conduct that could be damaging, harassing or aggravating to any other Favful users (“Prohibited Conduct”).

                    p
                        b Customer Accounts:&nbsp;
                        | Only one account per entity or individual. You represent and agree that all information you provide in creating an account and placing orders for products and services through this Platform is truthful and accurate. If you provide any information that is untrue, inaccurate, not current or incomplete (or becomes untrue, inaccurate, not current or incomplete), or Favful has reasonable grounds to suspect that such information is untrue, inaccurate, not current or incomplete, Favful has the right to suspend or terminate your account and refuse any and all current or future use of the Platform (or any portion thereof). Creating fraudulent accounts in order to manipulate the results of any contest on Favful will result in disqualification. Any accounts related to unverifiable email addresses will also be disqualified. Favful may, in its sole discretion, terminate or suspend any user account to all or part of the Favful app for breach of any of these Terms of Use, or taking actions that are inconsistent with their intent. Favful shall be the sole determiner in cases of suspected abuse, fraud, or breach of these Terms of Use or intent of these Terms of Use. By confirming your purchase at the end of the checkout process, you agree to accept and pay for the products and services you have ordered. You accept all responsibility for activities that occur under your username, account, and password, and for the accuracy of all information you submit when placing orders through this Platform. You are responsible for maintaining the confidentiality of your username, account and password and for maintaining security of your computer including restriction of access. You should notify us immediately if you determine or suspect that your account is being used without your authorization.

                    p
                        b Our Electronic Communications to You:&nbsp;
                        | You agree to receive communications from us electronically. We will communicate with you by e-mail. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.

                    p
                        b Your Content:&nbsp;
                        | You agree that your participation on the Platform is voluntary and hereby grant Favful a perpetual, irrevocable, worldwide, royalty-free, transferable, sublicensable license and right to copy, display, perform, reproduce, modify, delete, create derivative works, sell, distribute and use in any manner whatsoever, in Favful’s sole and absolute discretion, any and all photos, videos, reviews, comments, feedback, postcards, suggestions, ideas, and other submissions disclosed, submitted or offered to Favful in connection with your use of this Platform (“Content”), unless expressly agreed otherwise in writing between you and Favful. Without limiting the generality of the foregoing, you acknowledge and agree that Favful shall have the ability to use any and all Content in any manner whatsoever, in its sole and absolute discretion, including adapting, translating, publishing and incorporating any and all Content into any form, medium or technology throughout the world without restriction and without compensating you in any way. You grant Favful the right to use the name that you submit in connection with any Content. You agree not to use a false email address, impersonate any person or entity, or otherwise mislead as to the origin of any Content you submit. You are and shall remain solely responsible for the Content you make. You represent and warrant to Favful that you own the Content or have the right to grant Favful the rights and licenses in the Content that are provided by you hereunder, and you agree that by posting any Content that includes the likeness of any person other than yourself you have first obtained permission from that person. You further agree to indemnify Favful for all claims resulting from any Content you submit. Favful takes no responsibility and assumes no liability for any Content submitted by you or any third party.

                    p
                        b Copyright and Trademark Notice:&nbsp;
                        | This Platform and its contents are intended for your personal use. Unless otherwise noted, all content on this Platform, including text, graphics, images, logos and software, is the property of Favful or its third party content providers, and is protected under the applicable intellectual property laws. You may display, copy, download and print hard copy portions of content appearing on this app solely for your own non-commercial use, or to place orders to purchase products or services from this Platform, if applicable. Except for such expressly permitted uses of content appearing on this Platform, you may not modify, publish, adapt, transmit, participate in the transfer or sale, exhibit, distribute, display, reverse engineer, decompile, dissemble, perform, reproduce, create derivative works from, or in any way exploit any content appearing on this Platform, in whole or in part. Any unauthorized use of any content appearing on this Platform may violate copyright, trademark and other laws and could result in criminal or civil penalties. You shall be solely responsible and liable for any and all damages resulting from any infringement of copyrights, proprietary rights, or any other harm resulting from any uploading, posting or submission of your content on this Platform.

                    p
                        b Protecting Children:&nbsp;
                        | We take special care to protect the safety and privacy of children. This Platform and affiliated Favful applications are general audience applications, but Favful does not knowingly collect personal information from anyone under the age of 13 without parental consent. Children under the age of 13 should always ask their parents or guardians for permission before providing any personal information to anyone online.

                    p
                        b Links to Third Party apps:&nbsp;
                        | This Platform may contain links to other apps on the Internet that are owned and operated by third parties. You agree that we are not responsible for the operation of or content located on or through any such app nor are we responsible for the actions of any third party. You shall refer to the third parties’ terms of use, privacy policy and any other policy governing their apps, platforms and related contents, products or services.

                    p
                        b Products and Services:&nbsp;
                        | All product descriptions, information and materials posted on the Platform are provided on an “as is” basis and without warranties, express, implied or otherwise howsoever arising, to the certain permitted under the law. Favful does not warrant that the product descriptions or other content on this Platform is accurate, complete, reliable and error-free in perpetuity. Descriptions, images, or references to any third party products or services on the app do not imply our endorsement and we are not responsible for, and disclaim any endorsement of, any such product or service. Posted reviews by users are solely the opinion of that user and none of the reviews contain or reflect the opinion or views of Favful.

                    p
                        b Indemnification:&nbsp;
                        | You agree to defend, indemnify and hold harmless Favful and its affiliates, officers, directors, owners, employees and agents, from and against any and all claims, damages, liabilities and causes of action (including reasonable solicitor’s cost) arising out of or relating to your use of this Platform, your breach of these Terms of Use, your engaging in any Prohibited Conduct or the use of any feedback provided by you.

                    p
                        b Entire Agreement:&nbsp;
                        | These Terms of Use constitute the entire agreement and supersedes any and all other understandings and agreements between you and Favful with respect to the subject matter hereof and no representation, statement or promise not contained herein shall be binding on you or Favful. Although these Terms of Use may be updated or modified by Favful from time to time as set forth therein, Favful will not be bound by any other amendments or modifications to these Terms of Use, or any terms and/or conditions you include with any purchase order, unless expressly accepted in writing by Favful in a written amendment expressly referencing these Terms of Use. These Terms of Use may not be supplemented or modified by any course of dealing or trade usage.

                    p
                        b Waiver:&nbsp;
                        | No failure or delay by us in exercising any right under these Terms of Use shall operate as a waiver of such right or extend to or affect any other or subsequent events or impair any rights or remedies in respect of or in any way modify or diminish our right under these Terms of Use.

                    p
                        b Governing Law:&nbsp;
                        | These Terms of Use and your use of the Platform shall be governed by and construed in accordance with the laws of Malaysia. You submit to the exclusive jurisdiction of the Malaysian courts to settle any dispute which may arise from these Terms of Use.
                    
                    h3 Sales terms and conditions
                    p
                        b Basis of Contract: 
                        | Any sale and purchase of products and/or services via the Platform will be subjected to these Sales Terms and Conditions. These Sales Terms and Conditions shall be binding provisions between you and Favful upon conclusion of a transaction by you on the Platform unless otherwise expressly agreed between you and Favful or to the extent excluded by applicable laws or implied by trade custom practice.
                    p 
                        | Any information made available on the Platform in connection with the goods, including photographs, drawings, information about the extent of the delivery, appearance, performance, weight are not binding and for informational purposes only.

                    p
                        b Orders and Specifications: 
                        | Order acceptance and completion of the contract between you and Favful will only be completed upon Favful issuing a confirmation of delivery of the goods to you. Favful shall be entitled to refuse or cancel any order without giving any reasons for the same to you prior to issue of the confirmation of delivery. No concluded contract may be modified or cancelled by you except with the agreement in writing of Favful and on terms that you shall indemnify Favful in full against all loss (including loss of profit) costs (including the cost of all labour and materials used) damages, charges and expenses incurred by Favful as a result of the modification or cancellation, as the case may be.
                    p
                        b Product Descriptions: 
                        | Favful will use its best efforts to provide accurate product information. Unless otherwise stated and to the fullest extent permissible by law, Favful disclaims all warranties, representations and conditions (whether express or implied) as to the veracity, accuracy, completeness, currency or any other aspects of any product claims or descriptions on the Platforms which have been provided to us by third parties (e.g. the relevant brand owners or customer reviews). Favful has not independently verified such product claims or descriptions. You are advised to consult directly with such third parties should you wish to rely upon such product claims, descriptions or customer reviews. If a product offered by Favful is not as described, your sole remedy is to return it in unused condition.\
                    p 
                        b Pricing: 
                        | The price of the goods shall be the price stated in the Platform at the time when you make your offer to purchase to Favful. The price excludes any cost of packaging and delivery charges, any applicable goods and services tax, value added tax or similar tax which you shall be liable to pay to Favful in addition to the price.
                    p
                        b Payment: 
                        | By transacting via the Platform, you hereby allow us to process your payment using the bank account or credit card details provided by you. This, however, does not waive our right to seek payment directly from you through alternative methods if payment using the provided payment details fails for whatsoever reason.
                    p
                        | With payment by card, you must provide us with a current, valid and accepted payment card (“Card”) which belongs to you in accordance with the instruction within the Platform. If the Card belongs to another person, you hereby warrant and agree that you have obtained their permission to use the Card for payment of our products and/or services.
                    p
                        | In the event that your payment by your Card is processed overseas, you will be liable for any additional charges in relation thereto. If a payment is not successfully settled, due to expiration, or otherwise, we will notify you of the unsuccessful payment transaction. No transaction will be deemed completed pending a successful payment.
                    p
                        | We use third party payment service providers to facilitate your payment via our Platform. The terms of your payment will be based on your Card and may be determined by agreement between you and your financial institution, credit issuer or other provider of your selected Card. We disclaim all liabilities associated with the security of the Card. You shall be responsible to resolve any disputes with your financial institution, credit/debit issuer or other provider of your selected Card. Favful has the right to suspend the processing of any transaction where it reasonably believes that the transaction may be fraudulent, illegal or involves any criminal activity or where Favful reasonably believes you to be in breach of these Terms of Use.
                    p
                        | Your purchase of our products or services may be subject to applicable taxes, whenever required.
                    p
                        b Delivery: 
                        | Delivery of the goods shall be made to the address specified by you in your order, which may be performed by our merchant partners and/or their appointed agents. Any dates quoted for delivery of the goods are approximate only. The time for delivery/performance shall not be of the essence and Favful shall not be liable for any delay in delivery or performance howsoever caused. If you fail to take delivery of the goods (otherwise than by reason of any cause beyond your reasonable control or by reason of your fault) then without prejudice to any other right or remedy available to Favful, Favful may sell the goods at the best price readily obtainable and (after deducting all reasonable storage and selling expenses) account to you for the excess over the price under the contract provided the price has been paid in cleared funds in full or charge you for any shortfall below the price under the contract; or terminate the contract and claim damages.
                    p
                        b 10-Day Refund: 
                        | Favful offers a 10-day refund policy to all of its users. If you are not completely satisfied with your purchase, you must contact Favful by email within 2 days upon receiving the product and Favful will provide you with some simple instructions on returning your product for a full refund. You must submit clear evidence of the product defect or wrong product in order to be qualified for a full refund. Shipping costs of returns may apply subject to the cause of the return.
                    p
                        b Risk of Loss: 
                        | Risk of damage to or loss of the goods shall pass to you at the time of delivery or if you wrongly take delivery of the goods, the time when Favful has tendered delivery of the goods, provided that Favful has received in cash or cleared funds payment in full of the price of the goods and all other goods agreed to be sold by Favful to you for which payment is then due.

                    br
                    p.text-center.small These Terms of Use was last updated on 8 June 2017.