.footer
    .container
        .row
            .col-xs-12.col-sm-3
                .footer-link-title
                    | Merchant
                .footer-links
                    ul
                        li
                            a(href='http://merchant.favful.com.my', target='_blank') Merchant Login
                        li
                            a(href='/merchant') Register Merchant Account
            //    .dropdown
            //        button.btn.btn-default.dropdown-toggle.footer-country(type='button', data-toggle='dropdown')
            //            .pull-left
            //                .footer-country-flag
            //                    img.object-fit(src='../img/flags/my.svg')
            //                | &nbsp;Malaysia
            //            .pull-right
            //                i.fa.fa-caret-down
            //        ul.dropdown-menu.footer-country-list
            //            li.footer-country-wrap
            //                a(href='/')
            //                    .footer-country-flag
            //                        img.object-fit(src='../img/flags/my.svg')
            //                    | &nbsp;Malaysia
            //            li.footer-country-wrap
            //                a(href='http://www.favful.sg')
            //                    .footer-country-flag
            //                        img.object-fit(src='../img/flags/sg.svg')
            //                    | &nbsp;Singapore
            //            li.footer-country-wrap
            //                a(href='http://www.favful.co.th')
            //                    .footer-country-flag
            //                        img.object-fit(src='../img/flags/th.svg')
            //                    | &nbsp;Thailand
            //.clearfix.visible-xs
            br.visible-xs
            br.visible-xs
            .col-xs-6.col-sm-2
                .footer-link-title
                    | Company
                .footer-links
                    ul
                        li
                            a(href='/faq') FAQs
                        li
                            a(href='/terms-of-use') Terms of Use
                        li
                            a(href='/privacy-policy') Privacy Policy
                        li
                            a(href='/contact-us') Contact Us
            .col-xs-6.col-sm-2
                .footer-link-title
                    | Discover
                .footer-links
                    ul
                        li
                            a(href='/products') Trending Products
                        li
                            a(href='/tutorial') Beauty Tutorials
                        li
                            //- a(href='/beautyadvisor') Q & As
            .clearfix.visible-xs
            br.visible-xs
            br.visible-xs
            .col-xs-12.col-sm-5
                .footer-link-title
                    | About Favful
                .footer-text
                    p Figuring out ''what works'' can be overwhelming and confusing at times.
                    p At Favful, we believe there's a better way. We believe in a beauty advisory platform where we can empower each other in making informed beauty choices via personalized search, unbiased reviews, tutorials, tips and news.
        hr.footer-hr
        .footer-follow-title.text-center
            | Follow Us On
        .footer-follow-icons-wrap.text-center
            a(href='https://www.facebook.com/favful', target='_blank')
                .footer-follow-icons
                    i.fa.fa-facebook-f
            a(href='https://twitter.com/Favful', target='_blank')
                .footer-follow-icons
                    i.fa.fa-twitter
            a(href='http://instagram.com/favful', target='_blank')
                .footer-follow-icons
                    i.fa.fa-instagram
            a(href='mailto:hello@stayfavful.com')
                .footer-follow-icons(style='')
                    i.fa.fa-envelope-o
        .copyright.text-center.small
            | Copyright &copy; 2017. Lovelife Technologies Sdn Bhd

