.header-topic-slider
    .header-topic-slider-content.text-center
        .input-group.header-topic-search
            input.form-control(type='text', placeholder='Enter your question here for our beauty advisors...')
            span.input-group-btn
                button.btn.btn-header-topic-search(type='Search advisors')
                    i.fa.fa-search.fa-fw
                    span.hidden-xs &nbsp;ASK
