extends ../../layouts/admin

block content
    .panel
        .panel-heading
            h4.panel-title Edit Brand
            p
                | Currently editing&nbsp;
                i.fa.fa-chevron-circle-right(aria-hidden='true')
                | &nbsp;#{result.name}
            hr
        .panel-body
            form.form-horizontal(action='/products/brands/edit/' + result.id, method='post', enctype='multipart/form-data')
                input(type='hidden', name='_csrf', value=csrfToken)
                .form-group
                    label.col-sm-2.control-label Brand Name
                    .col-sm-8
                        input.form-control(type='text', name='name', id='name', value=result.name)
                .form-group
                    label.col-sm-2.control-label Brand Logo
                    .col-sm-8
                        input.form-control(type='file', name='mediafile', id='mediafile')
                hr
                .row
                    .col-sm-6.col-sm-offset-3.text-center
                        button.btn.btn-success.btn-quirk.btn-wide.mr5(type="submit") Save
                        a(href="/products/brands").btn.btn-quirk.btn-wide.btn-default Cancel