extends ../../layouts/admin

block content
    .panel
        .panel-heading
            h4.panel-title Add New User
            p Add a new user.
        .panel-body
            form.form-horizontal(method='post', action='/user/add')
                input(type="hidden", name="_csrf", value=csrfToken)
                .row
                    .col-sm-12
                        h4.panel-title Login Details
                        hr
                        .form-group
                            label.col-sm-3.control-label Display Name
                            .col-sm-8
                                input.form-control(type='text', name='displayname', id='displayname')
                        .form-group
                            label.col-sm-3.control-label Username
                            .col-sm-8
                                input.form-control(type='text', name='username', id='username')
                        .form-group
                            label.col-sm-3.control-label Email
                            .col-sm-8
                                input.form-control(type='email', name='email', id='email')
                        .form-group
                            label.col-sm-3.control-label Password
                            .col-sm-8
                                input.form-control(type='password', name='password', id='password')
                        br
                        h4.panel-title Personal Information
                        hr
                        .form-group
                            label.col-sm-3.control-label First Name
                            .col-sm-8
                                input.form-control(type='text', name='firstname', id='firstname')
                        .form-group
                            label.col-sm-3.control-label Last Name
                            .col-sm-8
                                input.form-control(type='text', name='lastname', id='lastname')
                        .form-group
                            label.col-sm-3.control-label Phone
                            .col-sm-8
                                input.form-control(type='text', name='phone', id='phone')
                        .form-group
                            label.col-sm-3.control-label Address Line 1
                            .col-sm-8
                                input.form-control(type='text', name='address1', id='address1')
                        .form-group
                            label.col-sm-3.control-label Address Line 2
                            .col-sm-8
                                input.form-control(type='text', name='address2', id='address2')
                        .form-group
                            label.col-sm-3.control-label City
                            .col-sm-8
                                input.form-control(type='text', name='city', id='city')
                        .form-group
                            label.col-sm-3.control-label Postal Code
                            .col-sm-8
                                input.form-control(type='text', name='postalcode', id='postalcode')
                        .form-group
                            label.col-sm-3.control-label State
                            .col-sm-8
                                select.form-control(name="state", id="state")
                                    option(value="Johor") Johor
                                    option(value="Kedah") Kedah
                                    option(value="Kuala Lumpur") Kuala Lumpur
                                    option(value="Kelantan") Kelantan
                                    option(value="Melaka") Melaka
                                    option(value="Negeri Sembilan") Negeri Sembilan
                                    option(value="Pahang") Pahang
                                    option(value="Penang") Penang
                                    option(value="Perak") Perak
                                    option(value="Perlis") Perlis
                                    option(value="Sabah") Sabah
                                    option(value="Sarawak") Sarawak
                                    option(value="Selangor") Selangor
                                    option(value="Terengganu") Terengganu
                        .form-group
                            label.col-sm-3.control-label Country
                            .col-sm-8
                                select.form-control(name="country", id="country")
                                    option(value="Malaysia") Malaysia
                hr
                .row
                    .col-sm-6.col-sm-offset-3.text-center
                        button.btn.btn-success.btn-quirk.btn-wide.mr5(type="submit") Add
                        a(href="/user/list").btn.btn-quirk.btn-wide.btn-default Cancel
