extends ../../layouts/default

block content
    .tutorial-success-container
        .tutorial-success-wrap.text-center
            h3 Thank You
            p Thank you for your tutorial submission.
            br
            a.btn.btn-default.btn-outline(href='/dashboard') Return to Dashboard