doctype html
html
    head
        title Favful Merchant - #{title}
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        link(rel='stylesheet', href='/css/custom.css')
        link(rel='stylesheet', href='/css/responsive.css')
        link(rel='stylesheet', href='/css/quirk.css')
        link(rel='stylesheet', href='/vendors/font-awesome/css/font-awesome.css')
        link(rel='stylesheet', href='/vendors/summernote/summernote.css')
        script(src='/vendors/jquery/jquery.js')
        script(src='/vendors/modernizr/modernizr.js')
    body.signwrapper
        block content