extends ../../layouts/landing

block content
    .container
        .row
            .col-md-8.col-md-offset-2.col-xs-12.col-sm-10.col-sm-offset-1
                .landing-wrap.text-center
                    .landing-logo.text-center
                        img.object-fit(src='../img/static/favful-logo-white.svg')
                    .landing-title
                        h3(style="color:#fff") Creator
                    .landing-description(style="color:#fff;margin-top:15px")
                        i.fa.fa-heart(style="font-size:0.5em")
                        | &nbsp;&nbsp;
                        i.fa.fa-heart(style="font-size:0.65em")
                        | &nbsp;&nbsp;
                        i.fa.fa-heart(style="font-size:0.8em")
                        | &nbsp;
                        | &nbsp;Private Invitations Only&nbsp;
                        | &nbsp;
                        i.fa.fa-heart(style="font-size:0.8em")
                        | &nbsp;&nbsp;
                        i.fa.fa-heart(style="font-size:0.65em")
                        | &nbsp;&nbsp;
                        i.fa.fa-heart(style="font-size:0.5em")
                    .landing-form-wrap(style='padding-top:10px')
                        h4(style='margin-bottom:10px') Go to my creator profile
                        .row
                            .col-sm-6.col-sm-offset-3
                                a.btn.btn-block.btn-social.btn-facebook(href='/auth/facebook', style='color: #fff !important;width:195px!important;margin:0 auto')
                                    span.fa.fa-facebook
                                    |  Sign in with Facebook