.home-slider
    img.object-fit(src='../img/elements/Cosmetic.png')
    .home-slider-content.text-center
        h1.home-slider-title "Babe, shop from real people not ads"
        //.home-search
        //    ul.nav.nav-tabs
        //        li.active
        //            a(data-toggle='tab', href='#product') Products
        //        //- li
        //        //-     a(data-toggle='tab', href='#site') Entire Site
        //    .tab-content.search-input-wrap
        //        #product.tab-pane.fade.in.active
        //            form(action='/search', method='get')
        //                .input-group
        //                    input.form-control(type='text', placeholder='e.g. Product Name, Category...',id='q', name='q')
        //                    span.input-group-btn
        //                        button.btn.btn-home-search(type='text')
        //                            i.fa.fa-search.fa-fw
        //                            span.hidden-xs &nbspFind Product
        //        #site.tab-pane.fade
        //            .input-group
        //                input.form-control(type='text', placeholder='Enter search terms')
        //                span.input-group-btn
        //                    button.btn.btn-home-search(type='button')
        //                        i.fa.fa-search.fa-fw
        //                        span.hidden-xs &nbspFind Solution

        .home-search-text Discover and shop from beauty enthusiasts’ videos and recommendations.