.header-topic-slider-product
    //- img.object-fit(src='../img/elements/Banner1-2.png')
    .header-topic-slider-content.text-center
        .custom-search-input
            form(action='/search', method='get')
                .input-group.col-md-12
                    input.form-control.input-lg(type='text', placeholder='Search for category or skin concern...', id='q', name='q')
                    span.input-group-btn
                        button.btn.btn-custom-search.btn-lg(type='text')
                            i.fa.fa-search
            //- .input-review.pull-right
            //-     button.btn.btn-header-topic-search(type='Search Review')
            //-         i.fa.fa-search.fa-fw
            //-         span.hidden-xs &nbsp;Search Review 

